
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Наши пользователи</h2>

@(Html.Kendo().Grid<ApplicationUser>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Id).ClientTemplate("<a href='" + @Url.Action("Edit", "AdminAccounts", new { id = "#=Id#" }) + "' class='btn btn-primary'><i class='fa fa-eye'></i>Изменить</a>").Width(140);
                    columns.Bound(c => c.FirstName).Width(140);
                    columns.Bound(c => c.LastName).Width(140);
                    columns.Bound(c => c.Email).Width(140);
                    columns.Bound(c => c.PhoneNumber).Width(190);

                })
                .HtmlAttributes(new { style = "height: 70vh;" })
                .Scrollable()
                .Groupable()
                .Sortable()
                .Editable(ed => ed.Mode(GridEditMode.PopUp))
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("Accounts_Read", "AdminAccounts"))
            )
)