<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Созвездие Йолдызлык</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
   

    <!-- Bootstrap Core CSS -->
    <link href="/UserTemplate/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/UserTemplate/vendor/fontawesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="/UserTemplate/vendor/animateit/animate.min.css" rel="stylesheet">

    <!-- Vendor css -->
    <link href="/UserTemplate/vendor/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="/UserTemplate/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Template base -->
    <link href="/UserTemplate/css/theme-base.css" rel="stylesheet">

    <!-- Template elements -->
    <link href="/UserTemplate/css/theme-elements.css" rel="stylesheet">

    <!-- Responsive classes -->
    <link href="/UserTemplate/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- Template color -->
    <link href="/UserTemplate/css/color-variations/blue.css" rel="stylesheet" type="text/css" media="screen" title="blue">

    <!-- LOAD GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600%7CRaleway:100,300,600,700,800" rel="stylesheet" type="text/css" />

    <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
    <link rel="stylesheet" property="stylesheet" href="/UserTemplate/vendor/rs-plugin/css/settings.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/UserTemplate/css/rs-plugin-styles.css" type="text/css" />

    <!-- CSS CUSTOM STYLE -->
    <link rel="stylesheet" type="text/css" href="/UserTemplate/css/custom.css" media="screen" />

    <!--VENDOR SCRIPT-->
    <script src="/UserTemplate/vendor/jquery/jquery-1.11.2.min.js"></script>
    <script src="/UserTemplate/vendor/plugins-compressed.js"></script>
    <link href="/OwnTemplate/Site.css" rel="stylesheet" type="text/css" />
</head>
<!-- END HEAD -->
<body class="wide">

    <div class="wrapper">
        <div class="container">
            <img id="headerimage" src="/OwnTemplate/images/header.jpg" />
        </div>

        <header id="header" class="header-modern header-light-transparent">
            <div id="header-wrap">
                <div class="container">


                    <!--MOBILE MENU -->
                    <div class="nav-main-menu-responsive">
                        <button class="lines-button x" type="button" data-toggle="collapse" data-target=".main-menu-collapse">
                            <span class="lines"></span>
                        </button>
                    </div>
                    <!--END: MOBILE MENU -->
                    <!--TOP SEARCH -->
                    <div id="top-search">
                        <a id="top-search-trigger"><i class="fa fa-search"></i><i class="fa fa-close"></i></a>
                        <form action="search-results-page.html" method="get" data-toggle="validator">
                            <input type="text" name="q" id="q" class="form-control" value="" placeholder="Start typing & press  &quot;Enter&quot;" required>
                        </form>




                    </div>
                    <!--END: TOP SEARCH -->
                    <!--NAVIGATION-->
                    <div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
                        <div class="container">
                            <nav id="mainMenu" class="main-menu mega-menu">
                                <ul class="main-menu nav nav-pills">
                                    <li class="dropdown">
                                        <a href="/"><i class="fa fa-home"></i></a>
                                    </li>
                                    <li><a href="/">Главная</a></li>
                                    <li class="dropdown">
                                        <a href="#">История <i class="fa fa-angle-down"></i> </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/">История фестиваля</a></li>
                                            <li><a href="/">Вручение специальных государственных стипендий-2015</a></li>
                                            <li><a href="/">Вручение специальных государственных стипендий-2014</a></li>
                                            <li><a href="/">Вручение специальных государственных стипендий-2013</a></li>
                                        </ul>
                                    </li>
                                    <li class="">
                                        <a href="/">Наши награды</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Документы <i class="fa fa-angle-down"></i> </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/">Положение</a></li>
                                            <li><a href="/">Состав городов</a></li>
                                            <li><a href="/">Образцы заявок участников</a></li>
                                            <li><a href="/">Распоряжение Кабинета Министров РТ</a></li>
                                            <li><a href="/">Состав организационного комитета</a></li>
                                            <li><a href="/">Буклет </a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">Степендиаты<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-submenu">
                                                <a href="/">Номинанты</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/">Созвездие-Йолдызлык-2017</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2016</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2015</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2014</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2013</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2012</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2011</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2010</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2009</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2008</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2007</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2006</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2005</a> </li>
                                                    <li><a href="/">Созвездие-Йолдызлык-2004</a> </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#"> Фото  </a>

                                    </li>
                                    <li class="dropdown mega-menu-item">
                                        <a href="#">Видео<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="mega-menu-content" style="background-image: url('images/shop-megamenu-bg.jpg');">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Shop layout</li>
                                                            <li> <a href="shop-columns-2.html">Two Columns</a> </li>
                                                            <li> <a href="shop-columns-3.html">Three Columns</a> </li>
                                                            <li> <a href="shop-columns-4.html">Four Columns</a> </li>
                                                            <li> <a href="shop-columns-6.html">Six Columns</a> </li>
                                                            <li> <a href="shop-sidebar-left.html">Left Sidebar</a> </li>
                                                            <li> <a href="shop-sidebar-right.html">Right Sidebar</a> </li>
                                                            <li> <a href="shop-sidebar-both.html">Both Sidebars</a> </li>
                                                            <li> <a href="shop-fullwidth.html">Fullwidth (Wide)</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Single Product</li>
                                                            <li> <a href="shop-single-product.html">Fullwidth</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-left.html">Left Sidebar</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-right.html">Right Sidebar</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-both.html">Both Sidebars</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Order process</li>
                                                            <li> <a class="animsition-link" href="shop-cart.html">Shoping Cart</a> </li>
                                                            <li> <a class="animsition-link" href="shop-cart-empty.html">Shoping Cart - Empty</a> </li>
                                                            <li> <a class="animsition-link" href="shop-checkout.html">Checkout</a> </li>
                                                            <li> <a class="animsition-link" href="shop-checkout-completed.html">Checkout Completed</a> </li>
                                                            <li> <a href="shop-wishlist.html">Wishlist</a> </li>
                                                            <li> <a href="shop-wishlist-empty.html">Wishlist Empty</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown mega-menu-item">
                                        <a href="#">Сми о нас<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="mega-menu-content" style="background-image: url('images/shop-megamenu-bg.jpg');">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Shop layout</li>
                                                            <li> <a href="shop-columns-2.html">Two Columns</a> </li>
                                                            <li> <a href="shop-columns-3.html">Three Columns</a> </li>
                                                            <li> <a href="shop-columns-4.html">Four Columns</a> </li>
                                                            <li> <a href="shop-columns-6.html">Six Columns</a> </li>
                                                            <li> <a href="shop-sidebar-left.html">Left Sidebar</a> </li>
                                                            <li> <a href="shop-sidebar-right.html">Right Sidebar</a> </li>
                                                            <li> <a href="shop-sidebar-both.html">Both Sidebars</a> </li>
                                                            <li> <a href="shop-fullwidth.html">Fullwidth (Wide)</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Single Product</li>
                                                            <li> <a href="shop-single-product.html">Fullwidth</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-left.html">Left Sidebar</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-right.html">Right Sidebar</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-both.html">Both Sidebars</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Order process</li>
                                                            <li> <a class="animsition-link" href="shop-cart.html">Shoping Cart</a> </li>
                                                            <li> <a class="animsition-link" href="shop-cart-empty.html">Shoping Cart - Empty</a> </li>
                                                            <li> <a class="animsition-link" href="shop-checkout.html">Checkout</a> </li>
                                                            <li> <a class="animsition-link" href="shop-checkout-completed.html">Checkout Completed</a> </li>
                                                            <li> <a href="shop-wishlist.html">Wishlist</a> </li>
                                                            <li> <a href="shop-wishlist-empty.html">Wishlist Empty</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown mega-menu-item">
                                        <a href="#">Блоги<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li class="mega-menu-content" style="background-image: url('images/shop-megamenu-bg.jpg');">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Shop layout</li>
                                                            <li> <a href="shop-columns-2.html">Two Columns</a> </li>
                                                            <li> <a href="shop-columns-3.html">Three Columns</a> </li>
                                                            <li> <a href="shop-columns-4.html">Four Columns</a> </li>
                                                            <li> <a href="shop-columns-6.html">Six Columns</a> </li>
                                                            <li> <a href="shop-sidebar-left.html">Left Sidebar</a> </li>
                                                            <li> <a href="shop-sidebar-right.html">Right Sidebar</a> </li>
                                                            <li> <a href="shop-sidebar-both.html">Both Sidebars</a> </li>
                                                            <li> <a href="shop-fullwidth.html">Fullwidth (Wide)</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Single Product</li>
                                                            <li> <a href="shop-single-product.html">Fullwidth</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-left.html">Left Sidebar</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-right.html">Right Sidebar</a> </li>
                                                            <li> <a href="shop-single-product-sidebar-both.html">Both Sidebars</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul>
                                                            <li class="mega-menu-title">Order process</li>
                                                            <li> <a class="animsition-link" href="shop-cart.html">Shoping Cart</a> </li>
                                                            <li> <a class="animsition-link" href="shop-cart-empty.html">Shoping Cart - Empty</a> </li>
                                                            <li> <a class="animsition-link" href="shop-checkout.html">Checkout</a> </li>
                                                            <li> <a class="animsition-link" href="shop-checkout-completed.html">Checkout Completed</a> </li>
                                                            <li> <a href="shop-wishlist.html">Wishlist</a> </li>
                                                            <li> <a href="shop-wishlist-empty.html">Wishlist Empty</a> </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--END: NAVIGATION-->
                </div>
            </div>
        </header>


        <section class="p-b-100">
            <div class="container content" style="background: white;">
                <div class="row">
                    <div class=" col-md-9">
                        @RenderBody()
                    </div>
                    <div class="col-md-3">
                        <div id="sidebar">
                            <div class="blocks">
                                <div id="block-block-21" class="arbitrary-block clear-block block block-block">
                                    <div class="content">
                                        <p>
                                            <a href="http://www.tatneft.ru" title="ПАО «Татнефть»" target="_self"><img src="http://www.yold.ru/sites/default/files/tatneft.png" width="365" height="150" alt="ПАО «Татнефть»" /></a><br />
                                            <a href="http://bzzm.ru" title="Информация тут" target="_self"><img src="http://www.yold.ru/sites/default/files/images/RM_205x205_2.jpg" width="360" height="145" alt="Информация тут" /></a>
                                        </p>
                                    </div>
                                </div>
                                <div id="block-block-17" class="arbitrary-block clear-block block block-block">
                                    <div class="content">
                                        <!--paging_filter--><p><img src="http://www.yold.ru/sites/default/files/telsoz.png" /></p>
                                    </div>
                                </div>
                                <div id="block-block-16" class="arbitrary-block clear-block block block-block">
                                    <div class="content">
                                        <p><a href="http://www.yold.ru/node/14582" title="Нажимаем и смотрим" target="_self"><img src="http://www.yold.ru/sites/default/files/videosoz.png" width="302" height="115" alt="Нажимаем и смотрим" /></a></p>
                                    </div>
                                </div>
                                <div id="block-block-10" class="arbitrary-block clear-block block block-block">
                                    <div class="content"><a href="https://twitter.com/wwwyoldru" title="Нажимаем и подписываемся" target="_self"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/pictures/Twitter.png" width="100" height="100" alt="Нажимаем и подписываемся"></a></div>
                                </div>
                                <div id="block-block-20" class="arbitrary-block clear-block block block-block">
                                    <div class="content">
                                        <p><a href="http://vk.com/yoldrt" title="Нажимаем и подписываемся" target="_self"><img src="http://www.yold.ru/sites/default/files/pictures/VKontakte.png" width="100" height="100" alt="Нажимаем и подписываемся" /></a>   <a href="http://www.instagram.com/wwwyoldru" title="Нажимаем и подписываемся" target="_self"><img src="http://www.yold.ru/sites/default/files/pictures/Instagram (2).png" width="100" height="100" alt="Нажимаем и подписываемся" /></a>   <a href="https://www.periscope.tv/wwwyoldru" title="Нажимаем и подписываемся" target="_self"><img src="http://www.yold.ru/sites/default/files/pictures/Periscope.png" width="90" height="100" alt="Нажимаем и подписываемся" /></a></p>
                                    </div>
                                </div>
                                <div id="block-block-14" class="arbitrary-block clear-block block block-block">
                                    <div class="content">
                                        <p><a href="http://talant116.ru" title="перейти на портал" target="_self"><img src="http://www.yold.ru/sites/default/files/ban1.jpg" width="226" height="86" alt="Молодежный информационно-образовательный портал" /></a></p>
                                    </div>
                                </div>
                                <div id="block-blog-0" class="arbitrary-block clear-block block block-blog">
                                    <h3 class="title"><span>Наши новости</span></h3>
                                    <div class="block-div"></div>
                                    <div class="block-div-arrow"></div>
                                    <div class="content">
                                        <div class="item-list">
                                            <ul>
                                                <li class="first"><a href="/node/71071">Продюсер фестиваля Дмитрий Туманов получил госнаграду от рук Президента РТ</a></li>
                                                <li><a href="/node/70824">«Созвездие» на миллион: Рустам Минниханов назвал участников фестиваля мощной татарстанской командой</a></li>
                                                <li><a href="/node/70821">Прямая трансляция ИТОГОВОГО ГАЛА-КОНЦЕРТА XVIII ОРТМФЭИ «Созвездие-Йолдызлык» 20.04.2018</a></li>
                                                <li><a href="/node/70820">В &quot;Пирамиде&quot; назовут обладателя Гран при &quot;Созвездия-Йолдызлык&quot;</a></li>
                                                <li><a href="/node/70817">Студенты ГИТИСа представили казанцам выпускной спектакль по произведениям Василия Шукшина</a></li>
                                                <li><a href="/node/69882">Дневник Суперфинала фестиваля &quot;Созвездие-Йолдызлык&quot;. В Казани прошел первый гала-концерт восемнадцатого фестиваля</a></li>
                                                <li><a href="/node/69636">Прямая трансляция Гала-концерта XVIII ОРТМФЭИ &quot;Созвездие-Йолдызлык&quot; КСК КФУ УНИКС (13.04.2018)</a></li>
                                                <li><a href="/node/69635">Дневник Суперфинала фестиваля “Созвездие-Йолдызлык”. День пятый</a></li>
                                                <li><a href="/node/69634">Итоги суперфинала XVIII ОРТМФЭИ &quot;Созвездие-Йолдызлык&quot; г. Казань. </a></li>
                                                <li class="last"><a href="/node/69298">Прямая трансляция суперфинала XVIII ОРТМФЭИ &quot;Созвездие-Йолдызлык&quot; в г. Казани (12 апреля 2018 г.)</a></li>
                                            </ul>
                                        </div><div class="more-link"><a href="/blog" title="Читать последние записи в блогах.">подробнее</a></div>
                                    </div>
                                </div>
                                <div id="block-menu-menu-nominants" class="arbitrary-block clear-block block block-menu">
                                    <h3 class="title"><span>Обладатели Гран-При</span></h3>
                                    <div class="block-div"></div>
                                    <div class="block-div-arrow"></div>
                                    <div class="content">
                                        <ul class="menu">
                                            <li class="leaf first"><a href="http://www.yold.ru/node/64277" title="">Вокально-хореографический ансамбль &quot;Азаль&quot; г. Заинск (2017)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/64276" title="">Образцовый ансамбль танца &quot;Пируэт&quot; г. Лениногорск (2017)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/58680" title="">Изотов Игнат (2016)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/58681" title="">Хореографический коллектив «Рапсодия» (2016)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/49690" title="Гран-при 2015 (руководитель Кочурова Надежда Александровна)">Народный хореографический ансамбль &quot;Калейдоскоп&quot; (2015)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/49689" title="Гран-при 2015">Широких Роман (2015)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/38865" title="Гран-при 2014 (руководители )">Ансамбль танца &quot;Татарстан&quot; (2014)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/38864" title="Гран-при 2014 (руководители )">Мухаметзянова Саида (2014)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/23103" title="Гран-при 2013 (руководитель Шарифуллина Наиля Сафуановна)">Вокальный ансамбль &quot;Бэхет&quot; (2013)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/23104" title="Гран-при 2013 (руководители Абдуллина Алия Ринатовна и Фазлыева Миляуша Вагизовна)">Хореографический коллектив &quot;Ал чэчэк&quot; (2013)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/17248" title="Гран-при 2012 (Руководитель Зиннатуллина Энзе Абулаесовна)">Зиннатуллина Рамиля (2012)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/17249" title="Гран-при 2012 (Руководитель Хузина Гузиля Накиповна)">Хореографический ансамбль ЕУКИ «Камские зори» (2012)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/12531" title="Гран-при 2011 (Руководитель Афанасьев Руслан Шарафетдинович)">Танцевальный коллектив «U-13» (2011)</a></li>
                                            <li class="collapsed"><a href="http://www.yold.ru/node/12521" title="Гран-при 2011 (Руководители Багаутдинова Лилия Александровна, Багаутдинов Айрат Анварович)">Театр танца &quot;Дорога из города&quot; (2011)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/23108" title="Гран-при 2010 (Руководитель Маркова Людмила Борисовна)">Дуэт Олеся Полищук и Лев Матвеев (2010)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/23109" title="Гран-при 2010 (Руководитель Рябова Анна Александровна)">Коллектив эстрадного танца «Кристалл» (2010)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/17271" title="Гран-При 2009 (Руководитель Васильева Елена Львовна)">Народная хореографическая студия &quot;Орфей&quot; (2009)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/12523" title="Гран-при 2009 (Руководитель Валиуллина Альфия Халисовна)">Сулейманов Айдар (2009)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/12528" title="Гран-при 2008">Козин Матвей (2008)</a></li>
                                            <li class="leaf"><a href="http://vk.com/club8584927" title="Гран-при 2008 год (Руководитель Убаськина Тамара Семеновна)">Танцевальный  коллектив «Фантазия» (2008)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/12530" title="Гран-при 2007 год">Вокально-хореографический центр &quot;Пестрая компания&quot; (2007)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/12522" title="Гран-при 2007 год (Руководитель Валиуллина Альфия Халисовна)">Вокальный ансамбль &quot;Мирас&quot; (2007)</a></li>
                                            <li class="leaf"><a href="http://vk.com/club1278799" title="Гран-при 2006 год (Руководитель Барткайтис Елена Кировна)">Ансамбль танца «Экситон» (2006)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/328" title="Гран-при 2006 год (Руководитель Халикова Светлана Александровна)">Балобанова Татьяна (2006)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/12529" title="Гран-при 2005 год (Руководитель Скалозубов Максим Геннадьевич)">Детский образцовый коллектив шоу-театр &quot;Шарм&quot; (2005)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru/node/12532" title="Гран-при 2005 год (Руководитель Ахметшина Нафиса Исхаковна)">Хадиева Алия (2005)</a></li>
                                            <li class="leaf"><a href="http://www.yold.ru" title="Гран-при 2004">Мухаметова Лилия (2004)</a></li>
                                            <li class="leaf"><a href="http://vk.com/club5102183" title="Гран-при 2004 года (Руководитель Исаенко Ирина Сергеевна)">Творческая мастерская Ирины Исаенко (2004)</a></li>
                                            <li class="leaf last"><a href="http://www.yold.ru/node/12524" title="Гран-при 2003 год (Руководитель Ахметшина Нафиса Исхаковна)">Гатин Рузиль (2003)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="block-user-1" class="arbitrary-block clear-block block block-user">
                                    <h3 class="title"><span>Навигация</span></h3>
                                    <div class="block-div"></div>
                                    <div class="block-div-arrow"></div>
                                    <div class="content">
                                        <ul class="menu">
                                            <li class="leaf first"><a href="http://www.yold.ru/user" title="Войти на сайт, или зарегистрироваться на нем">Вход на сайт</a></li>
                                            <li class="leaf last"><a href="/tracker">Последние публикации</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="block-block-3" class="arbitrary-block clear-block block block-block">
                                    <div class="content">
                                        <HR>
                                        <!--Rating@Mail.ru counter-->
                                        <script language="javascript" type="text/javascript">
<!--
                                            d = document; var a = ''; a += ';r=' + escape(d.referrer); js = 10;//--></script>
                                        <script language="javascript1.1" type="text/javascript">
<!--
                                            a += ';j=' + navigator.javaEnabled(); js = 11;//--></script>
                                        <script language="javascript1.2" type="text/javascript">
<!--
                                            s = screen; a += ';s=' + s.width + '*' + s.height;
                                            a += ';d=' + (s.colorDepth ? s.colorDepth : s.pixelDepth); js = 12;//--></script>
                                        <script language="javascript1.3" type="text/javascript">
<!--
                                            js = 13;//--></script>
                                        <script language="javascript" type="text/javascript">
<!--
                                            d.write('<a href="http://top.mail.ru/jump?from=1605677" target="_top">' +
                                                '<img rel="lightbox" src="http://d0.c8.b8.a1.top.mail.ru/counter?id=1605677;t=56;js=' + js +
                                                a + ';rand=' + Math.random() + '" alt="Рейтинг@Mail.ru" border="0" ' +
                                                'height="31" width="88"><\/a>'); if (11 < js) d.write('<' + '!-- ');//--></script>
                                        <noscript>
                                            <a target="_top" href="http://top.mail.ru/jump?from=1605677">
                                                <img rel="lightbox" src="http://d0.c8.b8.a1.top.mail.ru/counter?js=na;id=1605677;t=56"
                                                     height="31" width="88" border="0" alt="Рейтинг@Mail.ru">
                                            </a>
                                        </noscript>
                                        <script language="javascript" type="text/javascript">
<!--
                                            if (11 < js) d.write('--' + '>');//--></script>
                                        <!--// Rating@Mail.ru counter-->
                                        <!--LiveInternet counter-->
                                        <script type="text/javascript">
<!--
                                            document.write("<a href='//www.liveinternet.ru/click' " +
                                                "target=_blank><img src='//counter.yadro.ru/hit?t54.6;r" +
                                                escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
                                                    ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                                                        screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                                                ";" + Math.random() +
                                                "' alt='' title='LiveInternet: показано число просмотров и" +
                                                " посетителей за 24 часа' " +
                                                "border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->

                                    </div>
                                </div>

                            </div>
                        </div>








                    </div>
                </div>

            </div>
        </section>
    </div>

    <section class="p-b-0">
        <div class="container content" style="background: white;">
            <div class="row">
                <div class=" col-md-12">
                    <TABLE>
                        <TR VALIGN=middle>
                            <TD WIDTH=16%><a href="http://president.tatarstan.ru/" target="_blank"><img rel="lightbox" src="http://prav.tatarstan.ru/design/img/ban_president.gif"></a></TD>
                            <TD WIDTH=16%><a href="http://prav.tatarstan.ru/" target="_blank"><img rel="lightbox" src="http://prav.tatarstan.ru/design/img/new_templates3/head/main/official-tatarstan.png"></a></TD>
                            <TD WIDTH=16%><a href="http://msu.tatarstan.ru/" target="_blank"><img rel="lightbox" src="http://msu.tatarstan.ru/design/images/msu_new/map.png"></a></TD>
                            <TD WIDTH=16%><a href="http://www.melita.ru/" title="Элитный меховой спонсор" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%BC%D0%B5%D0%BB%D0%B8%D1%82%D0%B0.png" alt="Элитный меховой спонсор" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://www.kazanriviera.ru/aquapark/about/" title="Аквапарк Ривьера" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%90%D0%BA%D0%B2%D0%B0%D0%BF%D0%B0%D1%80%D0%BA%20%D0%A0%D0%B8%D0%B2%D1%8C%D0%B5%D1%80%D0%B0.png" alt="Аквапарк Ривьера" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://www.gitis-club.ru/" title="Сайт Клуб выпускников ГИТИС" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/gitis.png" alt="Сайт Клуб выпускников ГИТИС" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://kazantimes.com/" title="Kazan Times" target="_blank"><img width="175" height="55" rel="lightbox" src="http://kazantimes.com/wp-content/uploads/2011/10/logo3.png" alt="Kazan Times" align="right"></a></TD>
                        </TR>
                        <TR VALIGN=middle>
                            <TD WIDTH=16%><a href="http://mardjani.ru/ru" title="Фонд Марджани" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%A4%D0%BE%D0%BD%D0%B4%20%D0%9C%D0%B0%D1%80%D0%B4%D0%B6%D0%B0%D0%BD%D0%B8_0.png" alt="Фонд Марджани" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://www.betar.ru/" title="Бетар" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%91%D0%B5%D1%82%D0%B0%D1%80.png" alt="Бетар" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://www.parallax.ru/" title="Компания «Параллакс»" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%9F%D0%B0%D1%80%D0%B0%D0%BB%D0%B0%D0%BA%D1%81.png" alt="Компания «Параллакс»" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://www.mssa.biz/" title="Техническая группа MSSA" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/MSSA.png" alt="Техническая группа MSSA" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://c-zarnitza.ru/" title="детский научно-развлекательный центр " Зарница"" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/logo%20Zarnitza_%20640x472px.thumbnail.jpg" alt="детский научно-развлекательный центр " Зарница"" align="right"></a> </TD>
                            <TD WIDTH=16%><a href="http://www.tatneft.ru/" title="ОАО «Татнефть»" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%A2%D0%B0%D1%82%D0%BD%D0%B5%D1%84%D1%82%D1%8C.png" alt="ОАО «Татнефть»" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://www.yold.ru" title="Студия Сергея Тутаева" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/St%20studio.png" alt="Студия Сергея Тутаева" align="right"></a></TD>
                        </TR>
                        <TR VALIGN=middle>
                            <TD WIDTH=16%><a href="http://tnv.ru/" title="Телерадиокомпания " Татарстан - Новый Век"" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%A2%D0%9D%D0%92.png" alt="Телерадиокомпания " Татарстан - Новый Век"" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://tatmedia.ru/" title="Агентство Республики Татарстан по массовой коммуникации" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%A2%D0%B0%D1%82%D0%BC%D0%B5%D0%B4%D0%B8%D0%B0.png" alt="Агентство Республики Татарстан по массовой коммуникации" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://www.tatar-inform.ru/" title="Главный интернет партнер" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%A2%D0%B0%D1%82%D0%B0%D1%80%20%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC.png" alt="Главный интернет партнер" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://trt-tv.ru/" title="Государственная телерадиокомпания «Татарстан»" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%20%D0%A2%D0%B0%D1%82%D0%B0%D1%80%D1%81%D1%82%D0%B0%D0%BD.png" alt="Государственная телерадиокомпания «Татарстан»" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://kzn.tv/" title="Телерадиокомпания " Казань"" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/logo.png" alt="Телерадиокомпания " Казань"" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://realnoevremya.ru/" title="Интернет-газета " Реальное время"" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/RV.png" alt="Интернет-газета " Реальное время"" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://megamall.ru/kazan/" title="МЕГА" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/fb_logo.jpg" alt="МЕГА" align="right"></a></TD>
                        </TR>

                        <TR VALIGN=middle>
                            <TD WIDTH=16%><a href="http://www.vostok-time.ru/" title="Часовая компания " Восток Тайм"" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/Logo.thumbnail.jpg" alt="Часовая компания " Восток Тайм"" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://xn----8sbfkdnfjaagkgwg6ar5a.xn--p1ai/" title="Кукморские валенки" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%BB%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF%20%D0%BA%D0%B2%D0%B2%D0%BA%20(1).thumbnail.jpg" alt="Кукморские валенки" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://ayaris.ru/ru/" title="Аярис" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%90%D1%8F%D1%80%D0%B8%D1%81.thumbnail.jpg" alt="Аярис" align="right"></a></TD>
                            <TD WIDTH=16%><a href="http://www.fun24.ru/" title="FUN24" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%BB%D0%BE%D0%B3%D0%BE%20%D0%B4%D0%BB%D1%8F%20%D0%B1%D0%B5%D0%BB%D0%BE%D0%B9%20%D0%BF%D0%BE%D0%B4%D0%BB%D0%BE%D0%B6%D0%BA%D0%B8%20%D1%81%20%D0%B4%D0%B5%D1%81%D0%BA%D1%80%D0%B8%D0%BF%D1%82%D0%BE%D1%80%D0%BE%D0%BC.thumbnail.png" alt="FUN24" align="right"></a></TD>
                            <TD WIDTH=16%></TD>
                        </TR>
                        <TD WIDTH=16%><a href="http://www.yold.ru/node/12611" title="Ельцина Наина Иосифовна" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%95%D0%BB%D1%8C%D1%86%D0%B8%D0%BD%D0%B0.thumbnail.jpg" alt="Ельцина Наина Иосифовна" align="right"></a></TD>
                        <TD WIDTH=16%><a href="http://www.yold.ru/node/12612" title="Кузьмина Алла Владимировна" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%90%D0%BB%D0%BB%D0%B0%20%D0%9A%D1%83%D0%B7%D1%8C%D0%BC%D0%B8%D0%BD%D0%B0.thumbnail.jpg" alt="Кузьмина Алла Владимировна" align="right"></a></TD>
                        <TD WIDTH=16%><a href="http://www.yold.ru/node/12616" title="Борисов Михаил Борисович" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%91%D0%BE%D1%80%D0%B8%D1%81%D0%BE%D0%B2.thumbnail.jpg" alt="Борисов Михаил Борисович" align="right"></a></TD>
                        <TD WIDTH=16%><a href="http://www.yold.ru/node/12617" title="Алиев Гумет Алиевич" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%90%D0%BB%D0%B8%D0%B5%D0%B2.thumbnail.jpg" alt="Алиев Гумет Алиевич" align="right"></a></TD>
                        <TD WIDTH=16%><a href="http://www.yold.ru/node/12618" title="Гиглаури Вадим Тагирович" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/%D0%93%D0%B8%D0%B3%D0%BB%D0%B0%D1%83%D1%80%D0%B8_0.thumbnail.jpg" alt="Гиглаури Вадим Тагирович" align="right"></a></TD>
                        <TD WIDTH=16%><a href="http://www.yold.ru/node/41226" title="Хазанов Геннадий Викторович" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/_DSC1472_1.thumbnail.jpg" alt="Хазанов Геннадий Викторович" align="right"></a></TD>
                        <TD WIDTH=16%><a href="http://www.yold.ru/node/41231" title="Новосельская Арина Вадимовна" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/images/_DSC1514_0.thumbnail.JPG" alt="Новосельская Арина Вадимовна" align="right"></a></TD>
                        <TR VALIGN=middle>
                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52342" title="Сергей Евгеньевич Нарышкин" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/NarishkinFront.jpg" alt="Сергей Евгеньевич Нарышкин" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52343" title="Павел Алексеевич Астахов" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/AstahovFront.jpg" alt="Павел Алексеевич Астахов" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52344" title="Владимир Александрович Леонов" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/LeonovFront.png" alt="Владимир Александрович Леонов" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52345" title="Зиля Рахимьяновна Валеева" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/ValeevaFont.jpg" alt="Зиля Рахимьяновна Валеева" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52346" title="Нурия Миннахматовна Хашимова" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/HashimovaFont.jpg" alt="Нурия Миннахматовна Хашимова" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52347" title="Гузель Любисовна Удачина" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/YdachinaFont.jpg" alt="Гузель Любисовна Удачина" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52348" title="Зиля Даяновна Сунгатуллина" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/SungatullinaFront.jpg" alt="Зиля Даяновна Сунгатуллина" align="right"></a></TD>

                        <TR VALIGN=middle>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52349" title="Раиля Мухаметхановна Гарипова" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/GaripovaFront.jpg" alt="Раиля Мухаметхановна Гарипова" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52350" title="Дмитрий Владимирович Пивоваров" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/PivovarovFront.jpg" alt="Дмитрий Владимирович Пивоваров" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52351" title="Ильшат Юнусович Аминов" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/AminovFront.jpg" alt="Ильшат Юнусович Аминов" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52352" title="Елена Вилорьевна Гришкова" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/GrishkovaFront.jpg" alt="Елена Вилорьевна Гришкова" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52353" title="Марина Владимировна Полтева" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/PoltevaFront.jpg" alt="Марина Владимировна Полтева" align="right"></a></TD>

                            <TD WIDTH=16%><a href="http://www.yold.ru/node/52354" title="Владимир Алексеевич Аносов" target="_blank"><img rel="lightbox" src="http://www.yold.ru/sites/default/files/AnosovFront.jpg" alt="Владимир Алексеевич Аносов" align="right"></a></TD>

                    </TABLE>

                </div>
            </div>

        </div>
    </section>

    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
    <script type="text/javascript" src="/UserTemplate/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/UserTemplate/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>



    <!-- Theme Base, Components and Settings -->
    <script src="/OwnTemplate/theme-functions.js"></script>

    <!-- Custom js file -->
    <script src="/UserTemplate/js/custom.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>